/* ===============================================================
 Variables
=============================================================== */

/* Colors */


/* Margin */
$margin_narrow: 15px;
$margin_default: 20px;
$margin_wide: 30px;